@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Fredericka the Great", cursive;
  color: #fff;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0;
  margin-bottom: 10px;
}

.add {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.container {
  position: relative;
  width: 400px;
  padding: 20px 30px;
  background-color: #31343a;
  border: 10px solid rgba(213, 142, 9, 0.708);
  border-radius: 24px;
}

.list {
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 1.5px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 6px 12px;
  margin: 10px 0;
  border-radius: 4px;
  font-family: "Fredericka the Great", cursive;
}

form input:focus {
  outline: 0;
}

form select {
  display: block;
  padding: 6px 12px;
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
  font-family: "Fredericka the Great", cursive;
}

form button {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Fredericka the Great", cursive;
  margin-bottom: 20px;
}

.detail {
  line-height: 2;
  font-size: 18px;
}

.detail button {
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Fredericka the Great", cursive;
  margin: 0 5px 0 0;
}
